<app-toast *ngIf="showDlg"></app-toast>
<div class="bar">
  <div routerLinkActive="active" class="jokes" [routerLink]="['/jokes/joke', joke?.id]">Żarty</div>
  <div routerLinkActive="active" class="my-jokes" [routerLink]="['/jokes/joke-list']">Moje żarty</div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-12 col-sm-2 offset-md-3 offset-xl-2">
    <div class="addBtn" (click)="add()">Dodaj</div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-6 col-xl-8">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="!isListView" class="row ">
  <div class="col-sm-3 col-md-3 col-xl-2 offset-sm-9 offset-md-6 offset-xl-8">
    <div class="nextBtn" (click)="nextJoke()">Pokaż następny</div>
  </div>
</div>
